@model UserLoginViewModel

<div class="container">
	<form asp-action="login" asp-controller="accaunt" method="post">
		<div class="login-form">
			<h4 class="login-title">Returning Customer</h4>
			<p><span class="font-weight-bold">I am a returning customer</span></p>
			<div class="row">
				<div class="col-md-12 col-12 mb--15">
					<label asp-for="Username">Enter your username here...</label>
					<input asp-for="Username" class="mb-0 form-control"
						   placeholder="Enter you username here...">
					<span asp-validation-for="Username" class="text-danger"></span>
				</div>
				<div class="col-12 mb--20">
					<label asp-for="Password">Password</label>
					<input asp-for="Password" class="mb-0 form-control" placeholder="Enter your password">
					<span asp-validation-for="Password" class="text-danger"></span>
				</div>
				<div class="col-md-12">
					<button type="submit" class="btn btn-outlined">Login</button>
				</div>
				<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			</div>
		</div>
	</form>
</div>
